@import "../../styles/style.scss";

.registration {

  background-color: #29abe2;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    &-button {
      padding: .5rem 4rem;
      text-transform: uppercase;
      font-size: 2em;
      background-color: #012d51;
      color: #29abe2;
      margin-top: 5rem;
      transition: .5s ease-out;
      cursor: pointer;
      border: 1px solid;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-h2 {
      text-transform: uppercase;
      font-size: 3em;

    }

    &-container {
      padding-top: 4rem;
      box-sizing: border-box;
      width: 40%;

      &-div {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
      }
    }
  }
}


.register-input {
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  margin-top: 1rem;
}